.nav-link:hover {
	color: #34DABC;
}

.app-description {
	float: left;
}

.iphone-img {
	height: 500px;
	float: right;
}

.textcol {
	font-size: 25px;
	margin-top: 120px;
}

.iphone-lang {
	height: 500px;
	float: left;
}

.app-store-area {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 90px;
}

.app-store {
	height: 80px;
}


.spacer {
	margin-top: 120px;
	margin-bottom: 120px;
}

.col {
	text-align: center;
}

.topic {
	margin-bottom: 30px;
	font-size: 35px;
	color: #34DABC;
}

.team {
	text-align: center;
	background-color: #34DABC;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.team-h {
	font-size: 30px;
	margin-bottom: 40px;
}

.team-pic {
	height: 130px;
	border-radius: 90px;
	margin-bottom: 20px;
}

.profile-link {
	color: white;
	margin: 3px;
}

.profile-link:hover {
	text-decoration: none;
	color: black;
}

.awards {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #34DABC;
}

.award-pic {
	height: 130px;
	border-radius: 90px;
	margin-bottom: 20px;
}

i {
	color: #34DABC;
	margin-bottom: 10px;
}

/* Mobile view */

@media all and (max-width:480px) {
    .container {
    	text-align: center;
    }

    .app-store {
	height: 60px;
}

	.topic {
		font-size: 30px;
	}

	.app-description {
		font-size: 20px;
	}

	.iphone-img {
	height: 290px;
	float: none;
}

.iphone-lang {
	height: 290px;
	float: none;
}
}

@media all and (max-width:736px) {
	.container {
    	text-align: center;
    }

    .app-store {
	height: 60px;
}

	.topic {
		font-size: 30px;
	}

	.app-description {
		font-size: 20px;
	}

.iphone-img {
	height: 320px;
	float: none;
}

.iphone-lang {
	height: 320px;
	float: none;
}
	
}

@media all and (max-width:770px) {

	.container {
    	text-align: center;
    }

    .app-store {
	height: 60px;
}

	.topic {
		font-size: 30px;
	}

	.app-description {
		font-size: 20px;
	}

	.iphone-img {
	height: 320px;
	float: none;
}

.iphone-lang {
	height: 320px;
	float: none;
}
    
}